@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    /*outline: 2px solid red;*/

}

.sect1 {
    background-color: slategrey;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
}

a{
    text-decoration: none;
    color: lightgray;
    padding: 10px;
}

a:visited {
    text-decoration-color: lightgray;
}

a:hover {
    color: black;
    background-color:silver;
}

.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
}





.content {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

#title-item {
    margin-bottom: 10px;
}

.title-heading {
    color: white;
    font-size: 48px;
}

.description {

}

.signup {
    width: 85px;
    height: 35px;
    background-color: rgb(0, 110, 255);
    color: white;
    border-style: none;
    border-radius: 8px;
}

.signup:hover{
    background-color: aquamarine;
    color: black;
}

.title-image {
    display: flex;
    justify-content: center;
    align-items: column;
    margin: 50px;
}

.sect2 {
    float: left;
    align-content: center;
    justify-content: center;
    background-color: white;
    height: 500px

}

.sect2-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-bottom: 30px;
    color:black;
}

.sect2-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 19%;
    margin-right: 19%;
}

.sect2-content-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.subtext {
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

.sect2-image{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    outline-width: 2px;
    outline-color:aquamarine;
}

.sect3 {
    background-color: rgb(46, 27, 27);
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    align-items: flex-end;
    flex-direction: column;

}

.quote {
    font-size: 34px;
    font-style: italic;
}

.quote-author {
    font-weight: bolder;
    color: blanchedalmond;
    display: flex;
    align-items:flex-end;
    font-size: 26px;
}

.sect4 {
    background-color: white;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.signup-box {
    background-color:rgb(0, 132, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100px;
    border-radius: 10px;
}

.signup-left {
    color: white;
}

.signup-right {

}

#notify-signup {
    outline-color: white;
}
